<section class="motd">
    <h2>Authentication</h2>
    <p>Every secured resources (represented by a key icon) need a header <code>X-Auth-Token</code> with a valid token.</p>
    <p>(TODO) To request a token, see the resource <code>/tokens</code>.</p>
</section>
