<section class="motd">
    <h2>Authentication</h2>
    <p>Every secured resources (represented by a key icon) need a header <code>X-Auth-Token</code> with a valid token.</p>
    <p>To request a token, see the resource <code>POST /tokens.{_format}</code>.</p>
</section>
